<html>
	<head>
		<title>Introspect by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="..\..\static\css\style.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="https://bozusite.000webhostapp.com/Portfolio_d'EsatCan" class="logo">Ozomozyan</a>
					<nav id="nav">
						<a href="https://s.codepen.io/Vare19/debug/oLQEBz">Home</a>
						<a href="generic.html">Log In</a>
						<a href="elements.html">Sign Up</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>