{% include 'partials/header.html' %}
<section id="main" class="wrapper">
    <div class="inner">
        <h2>Admin Dashboard</h2>
        <p>Manage Users:</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.login }}</td>
                    <td>{{ user.nom }} {{ user.prenom }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <button class="button primary small">Edit</button>
                        <form action="{{ url_for('admin_delete_user', user_login=user.login) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this user?');">
                            <button type="submit" class="button special small">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Load scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
    </div>
</section>
{% include 'partials/footer.html' %}
