{% include 'partials/header.html' %}
<!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h1>Ozomozyan's System: <span>My + fully responsive<br/>
                management System</span></h1>
                <ul class="actions">
                    <li><a href="https://github.com/Ozomozyan/Projet_1" class="button alt">Démarrer</a></li>
                </ul>
            </div>
        </section>

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header>
                    <h2>Visit my Projects</h2>
                </header>
                <p>Visit my projects to see more about what I can do, my github includes lots of different Projects that gave me many skills on programming languages and frameworks.</p>
                <ul class="actions">
                    <li><a href="https://github.com/Ozomozyan?tab=repositories" class="button alt">En savoir plus</a></li>
                </ul>
            </div>
        </section>
 {% include 'partials/footer.html' %}