{% include 'partials/header.html' %}
<section id="main" class="wrapper">
    <div class="inner">
        <h2>Sign Up</h2>
        <form method="post" action="/register">
            <div class="row uniform">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="nom" id="nom" placeholder="Nom" required />
                </div>
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="prenom" id="prenom" placeholder="Prenom" required />
                </div>
                <div class="6u 12u$(xsmall)">
                    <input type="password" name="password" id="password" placeholder="Password" required />
                </div>
                <div class="6u$ 12u$(xsmall)">
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" />
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Sign Up" class="special" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
{% include 'partials/footer.html' %}